{% extends 'basefront.html.twig' %}

{% block Container %}
    <h1>Equipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEquipe</th>
                <td>{{ equipe.idEquipe }}</td>
            </tr>
            <tr>
                <th>NomEquipe</th>
                <td>{{ equipe.nomEquipe }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ equipe.pays }}</td>
            </tr>
            <tr>
                <th>Drapeau</th>
                <td>{{ equipe.drapeau }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ equipe.logo }}</td>
            </tr>
        </tbody>
    </table>

    
        <a href="{{ path('app_equipe_front_index') }}"><button type="submit" class="btn btn-secondary">back to list</button></a>


{% endblock %}
