<!DOCTYPE html>

<title>Equipe</title>

{% block body %}
    <h1>Equipe</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>IdEquipe</th>
                <td>{{ equipe.idEquipe }}</td>
            </tr>
            <tr>
                <th>NomEquipe</th>
                <td>{{ equipe.nomEquipe }}</td>
            </tr>
            <tr>
                <th>Pays</th>
                <td>{{ equipe.pays }}</td>
            </tr>
            <tr>
                <th>Drapeau</th>
                <td>{{ equipe.drapeau }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td>{{ equipe.logo }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_equipe_index') }}">back to list</a>

    <a href="{{ path('app_equipe_edit', {'idEquipe': equipe.idEquipe}) }}">edit</a>

    {{ include('equipe/_delete_form.html.twig') }}
{% endblock %}
